.App-header .navbar {
    height: 75px;
    background-color: #52734D;
    color: #feffde;
    display: flex;
    padding: 5px;
    box-shadow: 0 0 15px #707070;
    justify-content: flex-end;
    align-items: center;
}

.App-header .navbar h6 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 30px;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

[class*="button-"] {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 30px;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #52734D;
    color: #feffde;
    overflow: hidden;
    border: none;
    outline: none;
    transition: 0.2s;
}

[class*="button-"]:hover {
    color: #feffde;
    background-color: #5b8a72;
    box-shadow: 0 0 10px #5b8a72, 0 0 30px #5b8a72, 0 0 60px #5b8a72;
}

.App-header .navbar img {
    margin-right: auto;
    margin-top: 2px;
    margin-left: 20px;
    height: 70px;
}