.privacy_container {
    border: 0;
    padding: 0;
    text-align: left;
}

h2,
h3 {
    font-family: 'Times New Roman', Times, serif;
    margin: 2em;
    line-height: 1.142857142857143em;
    font-weight: 500;
    text-align: center;
    font-weight: 600;
}

.para1,
.para2 {
    font: 17px;
    border: none;
    margin: 25px 50px 75px 100px;
    line-height: 1.4;
    letter-spacing: 1px;
}


@media(max-width:1200px){
.para1,
.para2{
    font-size: 15px;
    line-height: 1.6;
}
    }


@media (max-width:820px){
    .para1,
.para2{
    font-size: 13px;
    line-height: 1.8;
}
}

@media(max-width:600px){
    .para1,.para2{
        margin: 30px;
    }
}