.addBtn {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    font-size: medium;
    background-color: #91c788;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}

.addBtn:hover,
.imsBtn:hover,
.sfBtn:hover {
    background-color: #386430;
    color: #aee6a4;
}

.imsBtn {
    position: absolute;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    font-size: medium;
    background-color: #91c788;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
    left: 0;
    top: 20vh;
}

.sfBtn {
    position: absolute;
    width: 8rem;
    height: 3rem;
    margin: 1rem;
    font-size: medium;
    background-color: #91c788;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 10;
    left: 0;
    top: 30vh;
}